<html>
  <body>
    <h1>Formity form</h1>

    <p>Please, fill this form for me</p>

    <form action="/display" method="post" accept-charset="utf8">
      <input type="text" name="post[fname]" value="Type your first name..." id="fname" />
      <input type="text" name="post[lname]" value="Type your last name..." id="lname" />
      <input type="submit" value="... now display!" />
    </form>
  </body>
</html>

