<html>
  <body>
    <h1>Here is the reversed string</h1>

    <p>You entered:</p>
    <p>Original string: <%= params[:post][:string] %></p>
    <p>Reversed: <%= params[:post][:string].reverse %></p>
    <p>Click <a href="/">here</a> to try again</p>
  </body>
</html>

