<html>
  <body>
    <h1>Reverse string</h1>

    <p>Please, fill the form if you want to reverse the string</p>

    <form action="/reverse" method="post" accept-charset="utf8">
      <input type="text" name="post[string]" value="Enter the string..." id="reverse" />
      <input type="submit" value="Reverse!" />
    </form>
  </body>
</html>


