<html>
  <body>
    <h1>Here are the form contents</h1>

    <p>You entered:</p>
    <p>First name: <%= params[:post][:fname] %></p>
    <p>Last name: <%= params[:post][:lname] %></p>
    <p>Click <a href="/">here</a> to try again</p>
  </body>
</html>
